@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --td-brand-color: #000000;
  --main-bg-color: #ffffff;
}

:root[theme-mode="dark"] {
  --td-brand-color: #000000;
  --main-bg-color: #000000;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
}

#app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
