name: Docker Build and Push to Hub

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      # 步骤1: 检出代码
      - name: Checkout
        uses: actions/checkout@v4

      # 步骤2: 登录 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 步骤3: 构建并推送
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            sokach0809/aisearch:latest
            sokach0809/aisearch:${{ github.sha }}
            ${{ startsWith(github.ref, 'refs/tags/') && format('your-dockerhub-username/your-image:{0}', github.ref_name) }}
