name: Docker Build and Push to Hub

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # 关键权限

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .devops/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            sokach0809/aisearch:latest
            sokach0809/aisearch:${{ github.sha }}
            ${{ startsWith(github.ref, 'refs/tags/') && format('sokach0809/aisearch:{0}', github.ref_name) }}
